#details {
  display: flex;
  text-align: center;
  padding: 2rem;
  justify-content: center;
}
.detailsWrapper {
  background-color: white;
  opacity: 0.9;
  color: #06010d;
  max-width: 400px;
  margin-top: 50px;
  padding: 5px;
  font-family: Monaco, monospace;
}
.date {
  margin-top: 10px;
font-family: Monaco, monospace;
}
button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background: #3700b3;
}
